#grid{
	display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  grid-gap: .3125rem 1em;
}

#box{
	position:relative;
	width:12.5rem;
	height:12.5rem;
	background-color:#DCDCDC80;
  border-radius: .625rem;
	text-align:center;
	color:#000000;	
}

#objPos{
	object-position: center top;
  margin-top: .3125rem;
  width: 3.125rem;
}

#down {
  margin-top: .625rem;
}

#image {
  width: 4.375rem;
}